<header>
    <div id="topbar">
    </div>
    
    <div id="navbar">
        <nav class="container">
            <ul class="flex evenly">
                <li><a href="index.php">Table du 3</a></li>
                <li><a href="select.php">Choisir une table</a></li>
                <li><a href="checkbox.php">Afficher des tables</a></li>
                <li><a href="revision.php">Révisions</a></li>
                <li><a href="superrevision.php">Super Révisions</a></li>
                <li><a href="superrevisionajax.php">Révisions AJAX</a></li>
            </ul>
        </nav>
    </div>
</header>