@charset "UTF-8";
@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/Roboto-Regular.eot");
  src: local("☺"), url("fonts/Roboto-Regular.woff") format("woff"), url("fonts/Roboto-Regular.ttf") format("truetype"), url("fonts/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("fonts/Roboto-Medium.eot");
  src: local("☺"), url("fonts/Roboto-Medium.woff") format("woff"), url("fonts/Roboto-Medium.ttf") format("truetype"), url("fonts/Roboto-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("fonts/Roboto-Light.eot");
  src: local("☺"), url("fonts/Roboto-Light.woff") format("woff"), url("fonts/Roboto-Light.ttf") format("truetype"), url("fonts/Roboto-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.009375rem;
}
body * {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: auto;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.center {
  align-items: center;
}

h1 {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 2.125rem;
  letter-spacing: 0.015625rem;
  text-align: center;
  margin: 0;
  padding: 0.5rem 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input[type=submit] {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.078125rem;
  text-transform: uppercase;
  margin: 1rem 0 2rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #03DAC6;
  color: #000000;
  transition: 280ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0.25rem;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
input[type=submit]:hover {
  cursor: pointer;
  opacity: 0.92;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

#topbar {
  background-color: #3700B3;
  height: 1.5rem;
}

#navbar {
  background-color: #6200EE;
  height: 3.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.03125rem;
}
#navbar nav {
  height: 100%;
}
#navbar nav ul {
  height: 100%;
}
#navbar nav ul li {
  width: 12rem;
}
#navbar nav ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  text-decoration: none;
  transition: 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
#navbar nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: #03DAC6;
  transform: scaleX(0);
  transition: 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
#navbar nav ul li a:hover {
  opacity: 1;
}
#navbar nav ul li a:hover::after {
  transform: scaleX(1);
}

.table {
  width: 15rem;
  border-radius: 0.5rem;
  margin: 0 1rem 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.table > header {
  background-color: #6200EE;
  color: #FFFFFF;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.table ol {
  padding: 1rem 3rem;
}
.table ol li {
  padding: 0.25rem 0;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0.125rem;
  background-color: #D1C4E9;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 1rem;
  margin-left: 1rem;
}
select:hover {
  opacity: 0.92;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.select-icon {
  position: relative;
  right: 1.5rem;
  pointer-events: none;
}

fieldset {
  border-radius: 0.5rem;
}

.box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 0.5rem 1rem 0.5rem;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.box input:checked ~ .checkmark {
  background-color: #6200EE;
}
.box input:checked ~ .checkmark::after {
  display: block;
}
.box .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.125rem;
  background-color: #D1C4E9;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #FFFFFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.box:hover input ~ .checkmark {
  background-color: #03DAC6;
  opacity: 0.92;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

/*# sourceMappingURL=style.css.map */
